/** {
    box-sizing: border-box;
    text-align: center;
  }


*/
*{
    margin:0;
}
html,body{
    height:100%;
    
}

#myname{
    background-color:#4aaaa5;
    font-weight:bold;
    color:white;
    float:left;
    padding:10px;
    margin-left:170px;
 
    height:50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:32px;
}

h1{
    font-size: 32px;
    margin-top: auto;
}


.listname li{
    float:right;
    padding:10px;
    list-style-type:none;
    margin-right:20px;
    margin-top:20px;
}

.llistname li:firstchild{
    margin-right:160px;

}

.headlist{
    margin-right:110px;
    align-content:center;
  
}

a:link{
    color:blue;
    }
a:visited{
    color:palevioletred;
    }
a:hover{
    background-color:yellow;
    
}


a:active{
    color:red;
}


/*backgound color is used when background image is unavailable*/
.wholebody{
    
    background-image: url("../images/interlaced.png");
    background-color:#ffffff;
 /*   padding:10px;*/
    top: 75px;
  /*  bottom:0; */
    width: 100%; 
  /*  position: absolute; */
    overflow: auto;
    min-height:100%;
    margin-bottom:-50px;
    font-family:"Arial', 'Helvetica Neue', Helvetica, sans-serif";
     }
     
    
    
h2{
font-family: "Georgia', Times, Times New Roman, serif";
color:#4aaaa5;
width: 100px;
height: 50px;
background-color:white;
font-weight: bold;
position: relative;
animation: mymove 5s infinite;
}

/*add animation*/

/* Standard syntax */
h2 {animation-timing-function: linear;}


/* Standard syntax */
@keyframes mymove {
from {left: 0px;}
to {left: 80%;}
}

.bodydiv{
background-color:#ffffff;
padding:30px;
position:relative;
top:20px;
bottom:20px;
left:170px;
width:900px;
/*height:80%;*/
border-color:#dddddd;

}

/*contact page*/
button{
    background-color:#4aaaa5;
    font-weight:bold;
    color:white;
    padding:10px;
    border:0px;
}

.messageBox{
    height:120px;
    margin-top:10px;
} 

input{
    width:90%;
   
}




button:hover{
    background-color:yellow;
    
}


button:active{
    color:red;
}




/*common*/
.wholebody:after {
    content:"";
    display:block;
  }
  
  .footer, .wholebody:after{
    height:40px;
  }

.footer{
    
  
    clear: both;
    background:#4aaaa5;
    width: 100%;

}

.copyright{
    background:grey;
    color:white;
    height:30px;
    position:relative;
    top:10px;
    text-align:center;
    width:100%;
    margin-left:0;
    margin-right:0;
}


@media screen and (min-width: 769px){
    #myname{
        margin-left:30px; 
        }
    
    .headlist{
        margin-right:30px;
    }
    
    .bodydiv{
        width:70%;
        left:30px;
    }
    input{
        width:80%;
    }
    
}

@media screen and (max-width: 768px){

    #myname{
        margin-left:30px; 
        }
    
    .headlist{
        margin-right:30px;
    }
    
    .bodydiv{
        width:90%;
        left:20px;
    }
 
    }

@media screen and (max-width: 640px){

#myname{
    margin-left:30px; 
    float:none;
    width:100%;
    margin-left: 0;
    text-align: center;
    }

.headlist{
    margin-right:0px;
    float:left;
    justify-content:center;
}


.bodydiv{
    width:80%;
    left:10px;
}
/*
input{
    width:80%;
}*/

}